* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: #eae8e1;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

ul {
  list-style: none;
}

h1,
h2 {
  font-weight: 400;
}

nav {
  background-color: #eae8e1;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar {
  gap: 40px;
  text-transform: uppercase;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  gap: 3rem;
  display: none;
}

.hamburger {
  display: flex;
  justify-content: end;
  padding: 10px;
  height: 44px;
  width: 44px;
}

nav img {
  width: 100px;
  margin-left: 30px;
}

header {
  background-image: url(/imges/loewe-technology-azMs02-lAFk-unsplash.jpg);
  background-color: rgb(126, 126, 121);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hero-container {
  width: 100%;
  padding-top: 80px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titel {
  font-size: 30px;
  width: 500px;
  color: white;
  line-height: 1.1;
  margin-bottom: 40px;
  text-align: center;
}

.form{
  width: 100%;
}

.form > div{
  margin: 20px;

}

input,
button {
  border: none;
  border-radius: 50px;
  height: 60px;
  color: #1e1e1e;
  text-align: center;
  width: 100%;
  font-size: 30px;
  cursor: pointer;
}

.btn1 {
  background-color: #1e1e1e9d;
  color: #fff;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: studsa 2s infinite;
  margin-bottom: 30px;
}

.arrow > img {
  width: 70px;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}


.services  h3 {
  text-transform: uppercase;
  font-size: 20px;
  color: #1e1e1e;
}

.services img {
  width: 200px;
  cursor: pointer;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.basic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.citat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.textbox2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #1e1e1e;
  text-align: center;
  padding: 20px;
}

.textbox2 h5 {
  font-weight: 200;
  font-size: 20px;
  margin: 5px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card {
  width: 370px;
  height: 200px;
  border-radius: 15px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 2px #eae8e1;
}

.star {
  margin-top: -50px;
  width: 150px;
}

.forms {
  background-color: #d1dce7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;

}

.forms-pic {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.textbox3 {
  text-transform: uppercase;
  font-size: 30px;
  color: #1e1e1e;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.textbox3 div{
  width: 80%;
}

.btn2 {
  border: none;
  border-radius: 20px;
  height: 60px;
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 30px;
  cursor: pointer;
}

footer {
  background-color: #f5f4f2;
}

footer h4 {
  color: #5a5a5a;
  font-weight: 400;
}

.hidden-links{
  display: none;
}

.footer-links {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.footer-links li {
  color: black;
  gap: 10px;
  text-transform: uppercase;
  line-height: 25px;
}

@media (min-width: 769px){
  .nav-links  {
    display: flex;
  }

  .nav-links li{
    border-left: 1px solid black;
    padding-left: 5px;
  }

  .hamburger{
    display: none;
  }

  .navbar {
    justify-content: flex-start;
  }

  .hero-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 29px;
  }

  .titel {
    text-align: left;
  }

  input,
button {
  text-align: center;
  width: 25%;
}

.form > div{
  margin: 0px;

}

.cards{
  flex-direction: row;
}

.forms{
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 0px;
}

.forms > div{
  height: 100%;
  width: 50%;
}
.forms-pic {
  width: 100%;
}

.btn2{
  width: 70%;
}

.hidden-links{
  display: flex;
}

.footer-links{
  flex-direction: row;
  justify-content: center;

}

.footer-links li{

  margin: 15px;

}
}